/* Dashboard Restaurante */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Container principal */
.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Barra lateral */
.sidebar {
    width: 250px;
    background-color: rgb(23, 93, 151);
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav li {
    padding: 15px;
    border-bottom: 1px solid rgb(20, 106, 177);
}

.sidebar-nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
}

.sidebar-nav a:hover {
    background-color:  rgb(20, 106, 177);
}

/* Conteúdo principal */
.main-content {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

.main-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#itens_menu ul {
    list-style: none;
    padding: 0;
}

#itens_menu li {
    background: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#itens_menu li strong {
    font-size: 1.2rem;
}

#itens_menu li p {
    color: #555;
}

.produto-item {
    position: relative;  /* Define o item da lista como contêiner para a imagem */
    padding: 20px;       /* Adiciona um espaçamento ao redor do item */
    margin-bottom: 20px; /* Espaçamento entre os itens */
    border: 1px solid #ccc; /* Apenas um exemplo de estilo */
    background-color: #f9f9f9;
}

.produto-imagem {
    max-width: 75px;  /* Define o tamanho máximo da largura */
    height: auto;      /* Mantém a proporção da altura em relação à largura */
    display: block;    /* Garante que a imagem seja exibida como bloco */
    position: absolute;  /* Permite o controle do posicionamento */
    right: 30px;         /* Move a imagem 20px da borda direita */
    top: 15px; 
}


.form-group {
    margin-bottom: 15px;
    text-align: left;

}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group textarea {
    margin: 20px;
    width: 80%;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Evita o "overflow" */
}

.button {
    width: 10%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: #2196F3; 
    color:#ccc 
}

.button:hover {
    background-color: #1b4466; color: white; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
}

.btn-excluir {
    background-color: #e74c3c;  /* Vermelho */
    color: #fff;               /* Texto branco */
    border: none;              /* Sem borda */
    padding: 5px 10px;         /* Espaçamento interno */
    border-radius: 5px;        /* Cantos arredondados */
    cursor: pointer;           /* Cursor de mão */
    transition: background-color 0.3s ease;
}

.btn-excluir:hover {
    background-color: #c0392b; /* Vermelho mais escuro no hover */
}

/* Estilo específico para os pedidos recebidos */
.pedidos-container {
    background: rgba(33, 150, 243, 0.2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pedidos-container h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.pedidos-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pedidos-container ul li {
    background: rgba(33, 150, 243);
    font-weight: bold;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 0.9rem;
}

.pedidos-container p {
    margin: 10px 0;
    color: #555;
}

.pedidos-container hr {
    border: none;
    height: 1px;
    background: rgba(33, 150, 243);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pedidos-container .pedido-actions {
    margin-top: 15px;
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.pedidos-container .pedido-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1; /* Faz com que os botões tenham o mesmo tamanho */
    font-weight: bold;
}

.pedidos-container .pedido-actions .pedido-aceitar {
    background-color: #4CAF50; /* Verde para confirmar */
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.pedidos-container .pedido-actions .pedido-aceitar:hover {
    background-color: #388E3C;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.pedidos-container .pedido-actions .pedido-recusar {
    background-color: #F44336; /* Vermelho para recusar */
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.pedidos-container .pedido-actions .pedido-recusar:hover {
    background-color: #D32F2F;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.pedidos-container .entrega-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 1; /* Faz com que os botões tenham o mesmo tamanho */
    font-weight: bold;
}

.pedidos-container .entrega-actions .enviar-entrega {
    background-color: #FF9800;
    color: rgb(255, 255, 255);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.pedidos-container .entrega-actions .enviar-entrega:hover {
    background-color: #a56e1c;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}