{% extends "cliente/dashboard.html" %}

{% block content %}
    <div class="menu-container">
        <h1>Cardápio de {{ restaurante.nome }}</h1>

        <section id="itens_menu">
            {% if produtos %}
                <div class="menu-grid">
                    {% for produto in produtos %}
                    <div class="card-produto">
                        {% if produto.imagem %}
                            <img src="{{ url_for('static', filename='uploads/' + produto.imagem) }}" alt="{{ produto.nome }}" class="produto-imagem">
                        {% else %}
                            <img src="{{ url_for('static', filename='/img/restaurante/sem-imagem.png') }}" alt="{{ produto.nome }}" class="produto-imagem">
                        {% endif %}
                        <div class="card-content">
                            <h3>{{ produto.nome }}</h3>
                            <p class="descricao-produto">{{ produto.descricao }}</p>
                            <p class="preco-produto">R$ {{ "%.2f"|format(produto.preco) }}</p>
                        </div>
                        <div class="btn-container">
                            <form method="POST" action="{{ url_for('adicionar_ao_carrinho') }}">
                                <input type="hidden" name="produto_id" value="{{ produto.id }}">
                                <button type="submit" class="btn-adicionar-carrinho">Adicionar ao Carrinho</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="mensagem-vazia">Este restaurante ainda não possui produtos no cardápio.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
